@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.right-side::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.feeds-page {
	height: 100vh;
	overflow: hidden;
}
.right-side{
	width:60%;
	margin-top: 60px;
	display: flex;
  	justify-content: center;
	text-align: center;
	border: 1px solid red;
	padding-bottom: 20px;
}

.row {
height: 100%;
}

.create-feed {
	position: fixed;
	background-color: #F1F3FA;
	top: 28%;
	width: 100%;
	max-width: 550px;
	z-index: 1;
}
.right-side {
	overflow-y: auto;
	height: 100%;
	background: radial-gradient(circle, #4ea685, #3e8f70);
	padding-bottom:20px;
	text-align: center;
}
.feed-item {
	position: relative;
	border: 1px solid #ddd;
	border-radius: 8px;
	background-color: #fff;
	padding: 10px;
	margin-bottom: 15px;
}
.feed-item {
	display: flex;
  	justify-content: center;
	text-align: center;
	width: 70%;
	margin-left: 80px;
}

.feed-img {
	max-width: 100%;
	background-size: cover;
	height: 400px;
	border-radius: 5px;
}
.btn1{
	color: #fff;
	background-color: #4ea685;
	border: none;
	max-width: 100px;
	font-weight: 200;
}
.form-control{
	border: none;
}
h5{
	font-weight: 300;
	color: #333;
}
.creat{
	font-weight: 500;
	color: #4ea685;
	margin-bottom: 20px;
}
/*-----Bookmark-------*/
.bookmark-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	border: none;
	padding: 8px 12px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 14px;
}
  
.bookmark-btn:hover {
	background-color: rgba(0, 0, 0, 0.7);
}


@media (max-width: 768px) {
	.right-side {
	  width: 100%;
	  margin-top: 100px;
	}
	.create-feed{
		display: none;
	}
	.left-side{
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 100%;
	}
}
@media (max-width: 480px) {
	.house-row {
	  grid-template-columns: 1fr;
	}
	.left-side{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 10px;
		width: 100%;
	}
	.create-feed{
		display: none;
	}
}