.house-details {
	margin: 0 auto;
	text-align: center;
	display: flex;
	width: 100%;

  }
  
  .house-images {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 300px;
	overflow: hidden;
	margin-bottom: 20px;
  }
  

  .house-images::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 1;
  }
  
  .carousel-control {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 24px;
	border: none;
	cursor: pointer;
	padding: 10px;
	border-radius: 100%;
	z-index: 10;
  }
  
  .carousel-control.prev {
	left: 20px;
  }
  
  .carousel-control.next {
	right: 20px;
  }